/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}

/* Modifications */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0px;
  }

body {
	line-height: 1;
	background: #fff;
	text-align: center;
	max-width: auto;
	width: 1200px;
	font-family: arial;
	font-size: small;
	position: bottom;

}
.hs {
	margin: 12px 12px 0px 12px;
	width: 1250px;
	
}
#top-left {
	width: 400px;
	float: left;
}
#top-left ul li a {
	display: inline-block;
	float: left;
	color: rgb(85, 84, 84);
	
}
.sibs {
	background-color:#4285f4;
	border: #4285f4;
	border-radius: 2px;
	color: #fff !important;
	font-weight: bold;
	padding:9px 15px;
	margin-left: 7px;
}
#top-right a {
	display: inline-block;
	float: right;
	color: #000;

}
#img-con {
	padding-top: 100px;
	width: 100%;
	margin-bottom: 10px;
}
.wrapper{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
}
#sec-con {
	line-height: 50px;
	padding-bottom: 22.6vh;
	text-align: center;
}
#search-bar {
	width: 38em;
	height: 45px;
	padding: 0px;
	border: solid 1px #dcdcdf;
	border-radius: 20px;
	margin-top: 10px;
	background: url(https://www.netclipart.com/pp/m/15-153265_google-microphone-png-google-search-by-voice-icon.png) no-repeat;
	background-size: 17px;
	background-position: 340pt;
}
.search-icon {
	position: relative;
	left: 40px;
	top: 7px;

}
.buttons {
	border: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	width: auto;
	height: 150px; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
.bs {
	padding: 10px 20px 10px 20px;
	border: none;
	border-radius: 5px;
	color: #797979;
	background-color: #eef0f1;
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
#lb {
	float: left;
	margin-left: auto;

}
#rb {
	float: right;
	margin-right: auto;
	
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li a {
	display: block;
	padding: 10px;
	text-decoration: none;
}
#top-left nav ul li {
	float: left;
}
#top-right nav ul li {
	float: right;
}
#bl nav ul li a {
	float: left;
	color: rgb(112, 107, 107);
}
#bl {
	float: left;
}

#br nav ul li a {
	float: right;
	color: rgb(112, 107, 107);

	

}
#br ul li {
	display: inline;
	float: right;


}
#footer-con {
	background-color: #eef0f1 !important;
	border: solid 0.5px #dcdcdf;
	overflow: hidden;
	max-width: 100%;
	position: absolute;
	width: 1280px;
	max-width: 1280px;
	overflow-x: visible;
}
.fs {
	font-size: 14px;
	padding-bottom: 9px;
	padding-top: 5px;
	margin: 0px 12px 0px 12px;
}
@media (max-width: 500px) {
	body {
		width: auto;
	}
	#top-left {
		display: none;
	}
	#top-right {
		display: none;
	}
	#sec-con {
		position: absolute;
	}
	#footer-con {
		position: fixed;
	}
}
@media (max-width: 900px) {
	.invisible {
		display: none;
	}
} 
@media (min-width: 1000px) {
	body {
		width: 100%;
	}
}
@media (min-height: 900px) {
	#sec-con {
		padding: 0px;
	}
}